# Python compiled files
*.pyc
__pycache__/

# Django specific files
db.sqlite3
*.log

# Environment and secrets
.env
/env/
*.secret  # Any secret files

# Static and media files
/media/
/static/
/staticfiles/
*.svg
*.png
*.jpg
*.jpeg
*.gif

# Virtual environment
venv/
env/

# Editor and OS-specific files
.vscode/
.idea/
*.DS_Store
*.bak
*.swp  # Vim swap files